##静态文件版本控制
#set($version="2015093000")

#set($type = "ONLINE")
#if($type == "DEV")
#set($jsPath="${base}/static")
#set($cssPath="${base}/static")
#set($imgPath="${base}/static")
#set($staticPath="${base}/static")

#set($gulpPath="${base}/gulp/static")

#elseif ($type == "TEST")
#set($jsPath="${base}/min/static")
#set($cssPath="${base}/min/static")
#set($imgPath="${base}/min/static")
#set($staticPath="${base}/min/static")

#set($gulpPath="${base}/gulp/static")

#else
#set($jsPath="http://js.hipac.cn/static")
#set($cssPath="http://css.hipac.cn/static")
#set($imgPath="http://css.hipac.cn/static")
##set($imgPath="http://picserver.hipac.cn/static")
#set($staticPath="http://staticonline.hipac.cn/static")

#set($gulpPath="")

#end

## 全局业务参数
