<div class="side h-100 br-1" id="menu">

    ###门店功能菜单
    #if ($!currentUser.userType=='2')

        ###门店
        #if($mainMenu == "shop")
            <h4 class="bt-1"><i class="icon iconfont">&#xe627;</i>门店设置</h4>

            <ul>
                <li><a href="${base}/admin/order/order/edit_shopAddress.do" #if($menu=="editShopAddress")class="active"#end>基本信息 </a></li>
                <li><a href="${base}/admin/mall/shop/branch/manage" #if($menu=="branchManager")class="active"#end>门店管理 </a></li>
                #if ($!currentUser.shopVo.shopType != '4')

                    #if($!currentUser.isManager())
                        <li><a href="${base}/admin/user/shopUser/list.do" #if($menu=="shopUser")class="active"#end>账号管理</a></li>
                    #end

                #end

            </ul>
            <h4 class="bt-1"><i class="icon iconfont">&#xe636;</i>海拍客相关</h4>
            <ul>

                #if ($!currentUser.shopVo.shopType != '4')

                    #if($!currentUser.shopVo.isMainStore == 1)
                        #if($!currentUser.isManager())
                            <li><a href="${base}/admin/shop/license/apply.do" #if($menu=="license")class="active"#end>授权牌申请</a></li>
                        #end
                    #else
                        <!-- 判断不是分店 并且是管理员-->
                        #if(!$!currentUser.shopVo.isSubStore() && $!currentUser.isManager())
                            <li><a href="${base}/admin/shop/license/apply.do" #if($menu=="license")class="active"#end>授权牌申请</a></li>
                        #end
                    #end

                #end
                <li><a href="${base}/admin/notice/shopNoticeList.do" #if($menu=="shopNoticeList")class="active"#end>海拍客公告</a></li>
            </ul>

        #end

        ###商城
        #if($mainMenu == "mall")


            <h4 class="bt-1"><i class="icon iconfont">&#xe6a8;</i>商品管理</h4>
            <ul>
                <li><a href="${base}/admin/mall/item/add" #if($menu=="itemAdd")class="active"#end>添加海拍客商品 </a></li>
                <li><a href="${base}/admin/mall/item/instock" #if($menu=="instockList")class="active"#end>待上架商品 </a></li>
                <li><a href="${base}/admin/mall/item/onsale" #if($menu=="onsaleList")class="active"#end>已上架商品 </a></li>
              <!--批量改价模块-->
                <li><a href="${base}/admin/mall/item/batchModifyPrice" #if($menu=="batchModifyPrice")class="active"#end>批量改价 </a></li>
            </ul>

            <h4 class="bt-1"><i class="icon iconfont">&#xe6aa;</i>商城装修</h4>
            <ul>
                <li><a href="${base}/admin/mall/decoration" #if($menu=="decoration")class="active"#end>首页装修</a></li>
                <li><a href="${base}/admin/mall/group" #if($menu=="groupList" || $menu=="goEdit")class="active"#end>商品分组</a></li>
                <li><a href="${base}/admin/mall/customServcie" #if($menu=="customServcie")class="active"#end>客服电话</a></li>
            </ul>
        #end

        ###订单
        #if($mainMenu == "order")
            <h4 class="bt-1"><i class="icon iconfont">&#xe684;</i>订单管理</h4>
            <ul>
                <li><a href="${base}/admin/order/order/now.do" #if($menu=="shopOrderList")class="active"#end>所有订单 </a></li>
                <li><a href="${base}/admin/order/order/nopay.do" #if($menu=="nopayOrderList")class="active"#end>待支付订单 </a></li>
            </ul>
            <h4 class="bt-1"><i class="icon iconfont">&#xe6de;</i>支付信息</h4>
            <ul>
                <li><a href="${base}/admin/order/order/payInfo.do" #if($menu=="payInfo")class="active"#end>支付信息 </a></li>
            </ul>
        #end

        ###数据
        #if($!currentUser.isManager())
            #if($mainMenu == "data")
                <h4 class="bt-1"><i class="icon iconfont">&#xe6a1;</i>数据</h4>
                <ul>
                #if ($!currentUser.shopVo.shopType != '4')
                    <!-- 判断是否是分店，分店无权限 -->
                        <li><a href="${base}/admin/order/order/countShopSellInfo.do" #if($menu=="moneyStatistics")class="active"#end>资金统计 </a></li>
                #end
                </ul>
            #end
        #end

        ###商品
        #if($mainMenu == "goods")
            <h4 class="bt-1"><i class="icon iconfont">&#xe659;</i>商品</h4>
            <ul>
                <li><a href="${base}/admin/item/item/itemList.do" #if($menu=="goodsList")class="active"#end>商品列表</a></li>
                <li><a href="${base}/admin/order/order/add.do?menu=m61" #if($menu=="addOrder")class="active"#end>快速代下单</a></li>
            </ul>
        #end


    #end


</div>
