  </div>
 <div class="footer"></div>

</body>
  <script src="${gulpPath}/scripts/global.js?t=201510182148"></script>
  <!--[if lt IE 7]> <script src="${gulpPath}/scripts/correctPNG.js?t=201510182148" type="text/javascript"></script> <![endif]-->
  <!--[if lt IE 8]>
<script type="text/javascript">
    $("#menu").height($(window).height()-60);
</script>
<![endif]-->