#parse("./hipac/common/base.vm")
<!doctype html>
<html>
<head>
<meta name="renderer" content="webkit" />
<meta charset="utf-8">
<link rel="shortcut icon" href="${gulpPath}/images/favicon.ico?t=201510182148" type="image/x-icon" />
<link rel="stylesheet" href="${gulpPath}/styles/global.css?t=201510182148"/>
<title>$title</title>
</head>

<body>
    <!--联系客服-->
    <div style="" class="pos-f about-wrap" id="aboutWrap">
        <div class="item por-r">
            <div class="pos-a item-box">
                <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA3MDM4Nl8yODExOTlfODAwMDcwMzg2XzJf">
                    <i class="iconfont mr-5" >&#xe6e3;</i>
                    企业QQ咨询
                </a></div>
            <i class="iconfont" >&#xe6e3;</i>
        </div>
        <div class="item por-r">
            <div class="pos-a item-box item-phone"><i class="iconfont mr-5" >&#xe6e6;</i>400-616-8477</div>
            <i class="iconfont" >&#xe6e6;</i>
        </div>
    </div>

    <input type="hidden" id="basePath" value="${base}" />
    #parse("./hipac/common/top.vm")

    <div class="content cf" id="con-container">
        #if($!isNotMenu != "true")
            #parse("./hipac/common/menu.vm")
        #end

