@mixin home-sprite($key) {
  $map: (
      foo: 0px 0px 0px 0px 34px 30px 34px 106px '/images/generated/home.png' 'foo',
      zan-not: 0px 34px 0px -34px 33px 34px 34px 106px '/images/generated/home.png' 'zan-not',
      zan: 0px 72px 0px -72px 34px 34px 34px 106px '/images/generated/home.png' 'zan',
  );
  @mixin home-sprite-width($sprite) {
    width: nth($sprite, 5);
  }
  @mixin home-sprite-height($sprite) {
    height: nth($sprite, 6);
  }
  @mixin home-sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }
  @mixin home-sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }
  $sprite: map-get($map, $key);
  @include home-sprite-image($sprite);
  @include home-sprite-position($sprite);
  @include home-sprite-width($sprite);
  @include home-sprite-height($sprite);
}
